
{% extends 'base.html.twig' %}
{% block titulo %}Areas{% endblock %}
{% block contenido %}
<!-- ========= Banner =========-->
<!-- Begin text carousel intro section -->
<div id="header-carousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div id="cazza1" class="item active parallax"style="background-image: url(img/areas1.jpg);">
		</div>
		<div id="cazza2" class="item parallax"style="background-image: url(img/areas2.jpg);">
		</div>
		<div id="cazza3" class="item parallax"style="background-image: url(img/areas3.jpeg);">
		</div>
	</div>
</div>
<!-- End text carousel intro section -->




	<!-- Begin about section -->
<section id="about-section" class="page bg-style1" style="background-color:#f8f8f8;">
			<!-- Begin page header-->
			<div class="page-header-wrapper">
					<div class="container">
							<div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
									<h2 align="center">Paid & Unpaid Internship Offers</h2><br>
													<img src="{{asset('img/puntos.png')}}" class="puntos" align="center">
							</div>
					</div>
			</div>
			<!-- End page header-->

			<!-- Begin rotate box-1 -->
			<div class="rotate-box-1-wrapper">
					<div class="container">
							<div class="row">
								<div class="col-md-12 col-sm-12" align="center">
									<h4>Easystage collaborates with Ecotur, the first "Hotel-School" of the Valencian Community.
									<br>The courses will be realized in a spectacular location, as it may be that of a 4 star Hotel.
									</h4>
								</div>

							</div>




					</div> <!-- /.container -->

			</div>

			</section>


			<!-- Hotels section -->
			<section id="france-section" class="page text-center parallax" style="background-image: url(img/hotel-bg.jpg);">
			<!-- Begin page header-->
			<div class="page-header-wrapper">
					<div class="container">
							<div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
									<h2 style="color:white;">Hotels & Restaurants</h2><br>
									<hr class="ruler" style="color: #ec606c;background-color: #ec606c;
								 width:10%;">
							</div>
					</div>
			</div>
			<!-- End page header-->
			<!-- Begin roatet box-2 -->
			<div class="rotate-box-2-wrapper">
					<div class="container" >
							<div class="row" style="text-shadow: 2px 2px black;">
									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0" style="color:white;">
													<i class="fa fa-bell" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Reception & Booking</h4>
															<p>Test your linguistic skills, come in contact with customers from all over the world and enrich your vocabulary at Front Desk .
Find the best deals for clients, guiding them step by step in the purchase of their much desired trip, one of the many tasks of the booking department.</p>
													</div>
											</a>
									</div>

									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s" style="color:white;">
													<i class="fa fa-glass" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Bar & Restaurant</h4>
															<p>Improve your skills in a Hotel or in a Restaurant.
Each country has its own traditions and its techniques. Discover the different techniques used by the best maître of the country, compared with those previously studied. Learn the importance of accompanying each dish with the appropriate wine.</p>
													</div>
											</a>
									</div>

									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s" style="color:white;">
													<i class="fa fa-cutlery" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Kitchen</h4>
															<p>Realize an internship with the most famous Spanish chefs refining your culinary skills.
Thanks to the variety and different types of cuisine, you can choose the one that most closely matches your style. Typical cuisine, avant-garde, autor and fusion between the different offers that we propose.</p>
													</div>
											</a>
									</div>
								</div>
								<div class="row" style="text-shadow: 2px 2px black;">

									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s" style="color:white;">
													<i class="fa fa-bed" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Room Service</h4>
															<p>Cleanliness and order are the calling card of any Hotel.
Became part of the team that deals with the preparation of the rooms and common areas in order to make the customers’s stay the satisfactary one.
Realizing an internship at a major chain of hotels will open the doors to the hotel industry.
</p>
													</div>
											</a>
									</div>
									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s" style="color:white;">
													<i class="fa fa-calendar" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Events</h4>
															<p>Organize and manage events with the heads of department.
Weddings, meetings, conferences require trained people, organized and with a lot of patience to be able to deal with problems that may arise.
You dedicate to prepare planning, sending invitations, to contact customers... in practice organize everything behind to a great event.</p>
													</div>
											</a>
									</div>
									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s" style="color:white;">
													<i class="fa fa-group" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Human Resources</h4>
															<p>Next to the head of the department you will learn how to select and manage staff. You will learn the procedures dictated by the labor market for the employement process and recruitmet .
Crucial role within any company.
</p>
													</div>
											</a>
									</div>
								</div>
								<div class="row" style="text-shadow: 2px 2px black;">
									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s" style="color:white;">
													<i class="fa fa-wrench" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Maintenance</h4>
															<p>The so-called ghosts of hotels, those who will never see without which the hotel would be impracticable. With the proper maintenance to understand how to manage and solve the various problems that may arise at any Hotel, by painting over spots on a wall, to fix a tap or electrical installation.</p>
													</div>
											</a>
									</div>
									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s" style="color:white;">
													<i class="fa fa-pagelines" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Gardening</h4>
															<p>In charge of green spaces present in the most luxurious hotels. An important element for customers who require care, precision and green thumb. If forestry studies, maintenance of green areas, this is the internship for you.</p>
													</div>
											</a>
									</div>
									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.6s" style="color:white;">
													<i class="fa fa-star-o" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Entertainers</h4>
															<p>Without doubt the most fun area. Recommended for energetic people who want to be outdoors organizing activities and shows mostly for children. Playful elements are combined with cultural and linguistic ones... live a unique experience in a village, camping, resort or in a playroom.</p>
													</div>
											</a>
									</div>
							</div> <!-- /.row -->
					</div> <!-- /.container -->

			</div>
			<!-- End rotate-box-2 -->
			</section>
			<!-- End Hotels -->

			<!-- Wellness section -->
			<section class="page text-center parallax " style="background-image: url(img/wellness-bg.jpg);">
			<!-- Begin page header-->
			<div class="page-header-wrapper">
					<div class="container">
							<div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
									<h2 style="color:white;">Wellness</h2><br>
									<hr class="ruler" style="color: #aec917;background-color: #aec917;
								 width:10%;">
							</div>
					</div>
			</div>
			<!-- End page header-->
			<!-- Begin roatet box-2 -->
			<div class="rotate-box-2-wrapper">
					<div class="container" >
							<div class="row" style="text-shadow: 2px 2px black;">
									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0" style="color:white;">
													<i class="fa fa-scissors" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Hairdresser</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>

									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s" style="color:white;">
													<i class="fa fa-heart-o" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Beautician</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>

									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s" style="color:white;">
													<i class="fa fa-user-md" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Physioterapist</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>


							</div> <!-- /.row -->
					</div> <!-- /.container -->

			</div>
			<!-- End rotate-box-2 -->
			</section>
			<!-- End Wellness -->

			<!-- Technology section -->
			<section class="page text-center parallax " style="background-image: url(img/tech-bg.jpg);">
			<!-- Begin page header-->
			<div class="page-header-wrapper">
					<div class="container">
							<div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
									<h2 style="color:white;">Technology</h2><br>
									<hr class="ruler" style="color: #53b2e4;background-color: #53b2e4;
								 width:10%;">
							</div>
					</div>
			</div>
			<!-- End page header-->
			<!-- Begin roatet box-2 -->
			<div class="rotate-box-2-wrapper">
					<div class="container" >
							<div class="row" style="text-shadow: 2px 2px black;">
									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0" style="color:white;">
													<i class="fa fa-desktop" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Information Technician</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>

									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s" style="color:white;">
													<i class="fa fa-laptop" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Web Design & Development</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>

									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s" style="color:white;">
													<i class="fa fa-paint-brush" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Graphic Design</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>


							</div> <!-- /.row -->
					</div> <!-- /.container -->

			</div>
			<!-- End rotate-box-2 -->
			</section>
			<!-- End Technology -->

			<!-- Engineering section -->
			<section class="page text-center parallax " style="background-image: url(img/engineering-bg.jpg);">
			<!-- Begin page header-->
			<div class="page-header-wrapper">
					<div class="container">
							<div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
									<h2 style="color:white;">Engineering</h2><br>
									<hr class="ruler" style="color: #f2d717;background-color: #f2d717;
								 width:10%;">
							</div>
					</div>
			</div>
			<!-- End page header-->
			<!-- Begin roatet box-2 -->
			<div class="rotate-box-2-wrapper">
					<div class="container" >
							<div class="row" style="text-shadow: 2px 2px black;">
									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0" style="color:white;">
													<i class="fa fa-car" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Automotive</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>

									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s" style="color:white;">
													<i class="fa fa-lemon-o" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Agriculture & Food</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>

									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s" style="color:white;">
													<i class="fa fa-industry" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Industry & Materials</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>

									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0" style="color:white;">
													<i class="fa fa-plug" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Electrical & Electronics</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>

									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s" style="color:white;">
													<i class="fa fa-cog" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Metallurgical</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>

									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s" style="color:white;">
													<i class="fa fa-building" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Arquitecture & Construction</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>


							</div> <!-- /.row -->
					</div> <!-- /.container -->

			</div>
			<!-- End rotate-box-2 -->
			</section>
			<!-- End Engineering -->

			<!-- Engineering section -->
			<section class="page text-center parallax " style="background-image: url(img/business-bg.jpg);">
			<!-- Begin page header-->
			<div class="page-header-wrapper">
					<div class="container">
							<div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
									<h2 style="color:white;">Business & Communication</h2><br>
									<hr class="ruler" style="color: #f59b27;background-color: #f59b27;
								 width:10%;">
							</div>
					</div>
			</div>
			<!-- End page header-->
			<!-- Begin roatet box-2 -->
			<div class="rotate-box-2-wrapper">
					<div class="container" >
							<div class="row" style="text-shadow: 2px 2px black;">
									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0" style="color:white;">
													<i class="fa fa-black-tie" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Administration</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>

									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s" style="color:white;">
													<i class="fa fa-money" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Finance & Accounting</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>

									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s" style="color:white;">
													<i class="fa fa-line-chart" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Marketing & Commercial</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>

									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0" style="color:white;">
													<i class="fa fa-globe" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Social Networks & Communication</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>

									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s" style="color:white;">
													<i class="fa fa-male" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Customer Service</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>

									<div class="col-md-4 col-sm-6">
											<a href="#" class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s" style="color:white;">
													<i class="fa fa-truck" aria-hidden="true" style="font-size:50px;"></i>
													<div class="rotate-box-info">
															<h4>Logistics</h4>
															<p>Lorem ipsum dolor sit amet set, consectetur utes anet adipisicing elit, sed do eiusmod tempor incidist.</p>
													</div>
											</a>
									</div>


							</div> <!-- /.row -->
					</div> <!-- /.container -->

			</div>
			<!-- End rotate-box-2 -->
			</section>
			<!-- End Engineering -->

{% endblock %}
