
{% extends 'base.html.twig' %}
{% block titulo %}Personalized Services For Groups{% endblock %}
{% block contenido %}
<!-- Begin contact section -->
<div id="contacto" style="padding-top:40px;">
<section id="contact-section" class="page text-white parallax" data-stellar-background-ratio="0" style="background-image: url(img/group-bg.jpeg);">
<div class="cover" style="background-color: rgba(0, 0, 0, 0.7)!important;"></div>

		 <!-- Begin page header-->
		<div class="page-header-wrapper">
				<div class="container">
						<div class="page-header text-center wow fadeInDown" data-wow-delay="0.4s">
								<h2>Personalized Services For Groups</h2>

						</div>
				</div>
		</div>
		<!-- End page header-->

		<div class="contact">
				<div class="container">
					<div class="row">


							<div class="col-sm-12">
										<div class="contact-form">

												<form role="form" action="services" role="search"  method="post" enctype="multipart/form-data">

													<div class="form-group">
															<textarea class="form-control input-lg" rows="1" name="institution" placeholder="Sending Institution" required></textarea>
													</div>

													<div class="form-group">
															<textarea class="form-control input-lg" rows="1" name="contactperson" placeholder="Contact Person" required></textarea>
													</div>

													<div class="form-group">
															<input type="email" class="form-control input-lg" name="from3" placeholder="E-mail" required>
													</div>

													<div class="form-group">
															<textarea class="form-control input-lg" rows="1" name="participants" placeholder="Number Of Participants" required></textarea>
													</div>

														<div class="form-group form-control" style="height:70px;color:rgb(169, 169, 169);">
	 														 Estimated Dates: From <input type="date" style="color:black;" name="begindate1" placeholder="From" required> to <input type="date" style="color:black;" name="enddate1" placeholder="To" required>
	 												 </div>

														<div class="form-group">
																<textarea class="form-control input-lg" rows="4" name="message3" placeholder="Specify type of project, type of accommodation, activities, and other services required" required></textarea>
														</div>
														<button type="submit" class="btn">Send</button>
												</form>



										</div>
								</div>

						</div> <!-- /.row -->
				</div> <!-- /.container -->
		</div>

</section>
</div>
<!-- End contact section -->




{% endblock %}
