
{% extends 'base.html.twig' %}
{% block titulo %}Language Trip Abroad{% endblock %}
{% block contenido %}
<!-- Begin text carousel intro section -->
 <div class="banner testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/valencia.jpg);" id="testimonial-trigger" data-stellar-background-ratio="0.5"></div>
			<!-- End text carousel intro section -->




            <!-- Begin about section -->
			<section id="about-section" class="page bg-style1" style="padding:0px;">
                <!-- Begin page header-->
                <div class="page-header-wrapper">
                    <div class="container">
                        <div class="page-header text-center wow fadeInUp" style="margin-top:30px;margin-bottom:10px;"data-wow-delay="0.3s">
                            <h2 align="center" >The easiest way to learn a language</h2><br>
																		<img src="{{ asset('img/puntos.png')}}" class="puntos" align="center">
                        </div>
                    </div>
                </div>
                <!-- End page header-->

                <!-- Begin rotate box-1 -->
                <div class="rotate-box-1-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="rotate-box-1 square-icon wow zoomIn" data-wow-delay="0">
                                    <div align="center">
                                        <p style="text-allign:left;line-height:20pt;font-size:15px;">With our short stay programs you can studying in the country where the language is spoken, quickly improving your conversation skills.
We offer language courses in language schools that issue official certifications. We can arrange a specific programs suitable for all ages and levels of knowledge.
<br>You will stay in an host family, an immersion experience in the spanish language and cultural. A unique experience!
<br><br>
<h4 style="font-weight:bold;">Check out the services we offer below</h4>

                                        </p>
																	  </div>

                                </div>
                            </div>


                        </div> <!-- /.row -->




                    </div> <!-- /.container -->

                </div>




                <!-- Begin download Brochure -->
                <!-- Engineering section -->
          			<section class="page text-center parallax" style="background-image: url(img/language-bg1.jpg);">

          			<!-- Begin roatet box-2 -->
          			<div class="rotate-box-2-wrapper">
          					<div class="container" >
          							<div class="row" style="text-shadow: 2px 2px black;">
          									<div class="col-md-6 col-sm-6">
          											<div class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0" style="color:white;">
          													<i class="fa fa-plane" aria-hidden="true" style="font-size:50px;"></i>
          													<div class="rotate-box-info">
          															<h4>Transfer From The Airport</h4>

          													</div>
          											</div>
          									</div>

          									<div class="col-md-6 col-sm-6">
          											<div class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.2s" style="color:white;">
          													<i class="fa fa-credit-card-alt" aria-hidden="true" style="font-size:50px;"></i>
          													<div class="rotate-box-info">
          															<h4>Local Transport Card</h4>

          													</div>
          											</div>
          									</div>

          									<div class="col-md-12 col-sm-6">
          											<div  class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s" style="color:white;">
          													<i class="fa fa-home" aria-hidden="true" style="font-size:50px;"></i>
          													<div class="rotate-box-info">
          															<h4>Host Families</h4>

          													</div>
          											</div>
          									</div>

          									<div class="col-md-6 col-sm-6">
          											<div class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0" style="color:white;">
          													<i class="fa fa-pencil" aria-hidden="true" style="font-size:50px;"></i>
          													<div class="rotate-box-info">
          															<h4>Language Course</h4>

          													</div>
          											</div>
          									</div>



          									<div class="col-md-6 col-sm-6">
          											<div  class="rotate-box-2 square-icon text-center wow zoomIn" data-wow-delay="0.4s" style="color:white;">
          													<i class="fa fa-users" aria-hidden="true" style="font-size:50px;"></i>
          													<div class="rotate-box-info">
          															<h4>Activities</h4>

          													</div>
          											</div>
          									</div>


          							</div> <!-- /.row -->
                        <div class="row">
         								 <div class="col-md-12 col-sm-12" align="center">
         										 <br><a class="btn btn-default btn-lg" style="margin-top:20px;" href="/contact" target="_blank" role="button">Contact us for more information</a>
         							 </div>


         					 </div>
          					</div> <!-- /.container -->

          			</div>
          			<!-- End rotate-box-2 -->
          			</section>
          			<!-- End Engineering -->




{% endblock %}
