
{% extends 'base.html.twig' %}
{% block titulo %}Process{% endblock %}
{% block contenido %}
<!-- ========= Banner =========-->


				<!-- Begin text carousel intro section -->
<div class="banner testimonial text-white parallax" data-stellar-background-ratio="0.5" style="background-image: url(img/process-banner.jpeg);" id="testimonial-trigger" data-stellar-background-ratio="0.5"><h1 class="text-center" style="margin-top:40px;">Erasmus + Partner in Valencia</h1><hr class="ruler"></div>
		<!-- End text carousel intro section -->




					<!-- Begin about section -->
		<section id="about-section" class="page bg-style1" style="background-color:#f8f8f8;">
							<!-- Begin page header-->
							<div class="page-header-wrapper">
									<div class="container">
											<div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s">
													<h2 align="center">Find An Internship In 5 Easy Steps</h2><br>
																	<img src="{{asset('img/puntos.png')}}" class="puntos" align="center">
											</div>
									</div>
							</div>
							<!-- End page header-->

							<!-- Begin Process -->
							<div class="rotate-box-1-wrapper">
									<div class="container">
										<div class="row">
												<div class="col-md-4 col-sm-6">
														<a href="#" class="rotate-box-2 square-icon text-center wow fadeIn" data-wow-delay="0.1s">
																<i class="fa fa-envelope-o" aria-hidden="true" style="font-size:50px;"></i>
																<div class="rotate-box-info">
																		<h4>Step 1</h4>
																		<h5 style="font-weight:normal;">First Contact</h5>
																		<p>Fill in the form attaching your CV or send us your application by email.</p>
																</div>
														</a>
												</div>
												<div class="col-md-4 col-sm-6">
														<a href="#" class="rotate-box-2 square-icon text-center wow fadeIn" data-wow-delay="0.2s">
																<i class="fa fa-group" aria-hidden="true" style="font-size:50px;"></i>
																<div class="rotate-box-info">
																		<h4>Step 2</h4>
																		<h5 style="font-weight:normal;">Interview</h5>
																		<p>The candidate will be called for an interview by the HR department to know more about your internship.</p>
																</div>
														</a>
												</div>
												<div class="col-md-4 col-sm-6">
														<a href="#" class="rotate-box-2 square-icon text-center wow fadeIn" data-wow-delay="0.3s">
																<i class="fa fa-question-circle-o" aria-hidden="true" style="font-size:50px;"></i>
																<div class="rotate-box-info">
																		<h4>Step 3</h4>
																		<h5 style="font-weight:normal;">Make Your Decision</h5>
																		<p>We will send you by email all the details related with the selected offer or a similar one.<br>
																		Take your time to decide if you want to submit your candidature.</p>
																</div>
														</a>
												</div>


												<div class="col-md-6 col-sm-6">
														<a href="#" class="rotate-box-2 square-icon text-center wow fadeIn" data-wow-delay="0.4s">
																<i class="fa fa-black-tie" aria-hidden="true" style="font-size:50px;"></i>
																<div class="rotate-box-info">
																		<h4>Step 4</h4>
																		<h5 style="font-weight:normal;">Final Interview</h5>
																		<p>The person in charge of recruitment in the host company will contact you for a final interview.<br>
																		Good luck!</p>
																</div>
														</a>
												</div>
												<div class="col-md-6 col-sm-6">
														<a href="#" class="rotate-box-2 square-icon text-center wow fadeIn" data-wow-delay="0.5s">
																<i class="fa fa-money" aria-hidden="true" style="font-size:50px;"></i>
																<div class="rotate-box-info">
																		<h4>Step 5</h4>
																		<h5 style="font-weight:normal;">Pay the fee</h5>
																		<p>After receiving a positive rsponse according your interview we will make the final step...<br>
																		Congrats! You can start your internship!<br>
																	Don't forget to pay the fee and sending us a proof of payment.<br>
																We will help you to prepare the necessary document to obtain your scholarship.</p>
																</div>
														</a>
												</div>







										</div> <!-- row -->

										<div class="page-header text-center wow fadeInUp" data-wow-delay="0.3s" style="margin-top:100px;">
												<h2 align="center">Easy, Isn't It?</h2><br>

										</div>



									</div> <!-- /.container -->

							</div>
							<!-- End Process-->

							</section>

{% endblock %}
